# Java-specific
*.class
*.war
*.ear
*.jar

# Maven-specific
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# IDE-specific
.idea/
*.iml
*.iws
*.ipr

# Logs
logs/
*.log
*.log.*

# OS-specific
.DS_Store
Thumbs.db
